* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
h2{
    color:black;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    top: 15%;
    left: 40%;
    position: absolute;
    font-size: 35px;
    gap: 5px;
}
h2:hover{
    color: rgb(246, 239, 239);
}
body{
    background-color: #440256a6;
}
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(55, 21, 88, 0.784);
}
.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}
.container input{
    width:100% ;
    height: 50px;
    border: solid #440256a6;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5PX;


}
.container button{
    width: 100%;
    height: 50px;
    background:#440256a6 ;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px (0, 0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}
#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height  1s;
}
#imgBox img{
    width: 100%;
    padding: 10px;
}
#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}
.error {
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}